<button><a href="/charities/{{review.charityId}}/reviews">Back</a></button>

<div>
    <h1>{{review.name}}</h1>
    <h2>{{review.review}}</h2>
    <p>{{review.rating}}</p>
</div>
<div>
    <form action="/charities/{{review.charityId}}/reviews/{{review._id}}/edit">
        <button class="btn btn-primary" type="submit">Edit</button>
    </form><br>
</div>

<div>    
    <p><form method="post" action="/charities/{{review.charityId}}/reviews/{{review._id}}?_method=DELETE">
            <button class="btn btn-primary" type="submit">DELETE</button>
        </form></p> 
</div>
