<div class="row">
    <div class="col-sm-3 offset-9">
        <a class="btn btn-primary" href="/charities/{{charityId}}/reviews/new">New Review</a>
    </div>
    

    <div class="col-sm-6">
    {{#each reviews}}
        <p class="font-weight-normal"><a href="/charities/{{this.charityId}}/reviews/{{this.id}}">{{this.name}}</a></p>
        <p>{{this.review}}</p>
    {{/each}}
    </div>
</div>

