<h1>{{charity.charityName}}</h1>
<h2>{{charity.mission}}</h2>
<h3>{{charity.currentRating.rating}}</h3>
<a href="{{charity.websiteURL}}">Website</a>
<button><a href="/charities/{{charity.ein}}/donations/new">New Donation</a></button><br><br>

<h1>Reviews</h1><br>

<h1>Donators</h1>
{{#each donations}}
    <small><a href="/charities/{{this.charityId}}/donations/{{this.id}}">{{this.name}}</a></small>
    <small>${{this.donationAmount}}</small><br>
{{/each}}