<div class="row">
    <div class="col-md-12"><h1>{{charity.charityName}}</h1></div>
    <div class="col-md-3">
        <img src="{{charity.currentRating.ratingImage.large}}">
    </div>
    <div class="w-100"></div>
    <div class="col-md-3">
        <label for="">Description:</label>
    </div>
    <div class="w-100"></div>
    <p class="col-sm-9">{{charity.mission}}</p>
    <div class="w-100"></div>
    <h3 class="col-sm-3"><a href="{{charity.websiteURL}}">Website</a></h3>
    <div class="w-100"></div>
    <h2 class="col-sm-3"><a href="/charities/{{charity.ein}}/reviews">Reviews</a></h2>
    <h2 class="col-sm-3 offset-6"><a href="/charities/{{charity.ein}}/donations">Donations</a></h2>
    <div class="col-sm-12">     
        {{#each reviews}}
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0"><a href="/charities/{{this.charityId}}/reviews/{{this.id}}">{{this.name}}</a></h5>
                    {{this.rating}} Star<br>
                    <p class="font-weight-normal">{{this.review}}</p>
                </div>
            </div>
        {{/each}}
    </div>

    
</div>
