<div class="row">
    <div class="col-md-12"><h1>{{charity.charityName}}</h1></div>
    <div class="w-100"></div>
    <div class="col-md-3">
        <img src="{{charity.currentRating.ratingImage.large}}">
    </div>
    <div class="w-100"></div>
    <div class="col-md-3">
        <label for="">Description:</label>
    </div>
    <div class="w-100"></div>
    <p class="col-sm-9">{{charity.mission}}</p>
    <div class="w-100"></div>
    <a href="{{charity.websiteURL}}" class="col-sm-3">Website</a>
    <div class="w-100"></div>
    <h1 class="col-sm-6"><a href="/charities/{{charity.ein}}/reviews">Reviews</a></h1>
    {{#each reviews}}
        <small><a href="/charities/{{this.charityId}}/reviews/{{this.id}}">{{this.name}}</a></small>
        <small>{{this.message}}</small>
    {{/each}}

    <h1><a href="/charities/{{charity.ein}}/donations">Donations</a></h1>
</div>
