<form action="/charities/{{donation.charityId}}/donations">
    <button class="btn btn-primary">Back to table</button>
</form>

<div class="row">
    {{!-- These element will take up 6 columns but offset it by 3 columns on the left --}}
    {{!-- Which will make it center --}}
    <div class="col-md-6 offset-5">
        <h1>{{donation.name}}</h1>
        <h2>{{donation.message}}</h2>
        <h3>${{donation.donationAmount}}</h3>

        <p><a href="/charities/{{donation.charityId}}/donations/{{donation._id}}/edit">Edit Message</a></p>

        {{!-- Delete button uses method override since delete is not a method in html --}}
        <p><form method="post" action="/charities/{{donation.charityId}}/donations/{{donation._id}}?_method=DELETE">
            <button class="btn btn-primary" type="submit">DELETE</button>
        </form></p>    
    </div>
</div>
