<div class="row">
    <div class="col-sm-3 offset-9">
        <a href="/charities/{{charityId}}/donations/new" class="btn btn-primary">New Donation</a>
    </div>
    <div class="w-100"></div>
    <div class="col-lg-9">
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Donation Amount</th>
                </tr>
            </thead>
                {{#each donations}}
                    <tbody>
                        <td><a href="/charities/{{this.charityId}}/donations/{{this.id}}">{{this.name}}</a></td>
                        <td>${{this.donationAmount}}</td>
                    </tbody>
                {{/each}}
        </table>
    </div>
    
</div>
